<div>
  <span class='simple_captcha_image'>
    <%= simple_captcha_options[:image] %>
    <br/>
    <%= simple_captcha_options[:field] %>
    <br/>
    <%= simple_captcha_options[:refresh_button] %>
  </span>
</div>
