.banner
  .bannerText.clearfix
    %p
      $498
    %div
      %p
        Low cost
      %p
        Work and Travel
%section
  %div
    %a#terms-and-conditions
      = t(:terms_and_conditions)
  %div
    %a#apply-online
      = t(:apply_online)
  %div
    %a#tax-refund
      = t(:tax_refund)
