!!!
%html
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
	%body
		%h1 
			= ticket.first_name + ticket.last_name 
			successfuly filled the ticket form
		%p 
			%table
				%thead
					%tr
						%td 
							%strong Field
						%td 
							%strong Value
				%tbody
					%tr
						%td First name
						%td
							= ticket.first_name
					%tr
						%td Last name
						%td 
							= ticket.last_name
					%tr
						%td Birth date
						%td
							= ticket.birthday
					%tr
						%td Passport number
						%td
							= ticket.passport_num
					%tr
						%td Passport valid date
						%td
							= ticket.passport_valid_date
					%tr
						%td Email
						%td
							= ticket.email
					%tr
						%td Mobiel number
						%td
							= ticket.mobile
					%tr
						%td Destination
						%td
							= ticket.destination
					%tr
						%td Departure date
						%td
							= ticket.departure_date
					%tr
						%td Return date
						%td
							= ticket.comeback_date
					%tr
						%td Preferred airlines
						%td
							= ticket.airlines
					%tr
						%td Preferred arrival time
						%td
							= ticket.arrival_time
					%tr
						%td Comments
						%td
							= ticket.comments