= form_for @ticket, url: tickets_path do |f|
	= if @ticket.errors.any?
		= pluralize(@ticket.errors.count 'error')
		'prohibited this form from being saved'
		%ul
			- @ticket.errors.full_messages.each do |msg|
				%li 
					= msg
	
	= f.label t(:first_name)
	%br
		= f.text_field :first_name
	
	= f.label t(:last_name)
	%br 
		= f.text_field :last_name
	
	= f.label t(:birthday)
	%br
		= date_select :ticket, :birthday, start_year: Time.now.year - 30, end_year: Time.now.year - 18
	
	= f.label t(:passport_num)
	%br
		= f.text_field :passport_num
	
	= f.label t(:passport_valid_date)
	%br
		= date_select :ticket, :passport_valid_date, start_year: Time.now.year, end_year: Time.now.year + 10 
	
	= f.label t(:email)
	%br
		= f.text_field :email
	
	= f.label t(:mobile)
	%br
		= f.text_field :mobile
	
	= f.label t(:destination)
	%br
		= f.text_field :destination
	
	= f.label t(:departure_date)
	%br
		= date_select :ticket, :departure_date, start_year: Time.now.year, end_year: Time.now.year + 3
	
	= f.label t(:comeback_date)
	%br
		= date_select :ticket, :comeback_date, start_year: Time.now.year, end_year: Time.now.year + 5
	
	= f.label t(:airlines)
	%br
		= f.text_field :airlines
	
	= f.label t(:arrival_time)
	%br
		= f.text_field :arrival_time
	
	= f.label t(:comments)
	%br
		= f.text_area :comments
	= f.submit