<div class="banner">
	<%= image_tag "form_header.jpg" %>
</div>
<div class="content">	
	<h1><%= t(:contact_form) %></h1>
	<%= form_for @contact, url: contacts_path do |f| %>
		<% if @contact.errors.any? %>
			<ul>
				<% @contact.errors.full_messages.each do |msg| %>
				<li class="error-message"><%= msg %></li>
				<% end %>
			</ul>
		<% end %>
		<p>&nbsp;</p>
		<div class=".clearfix"></div>
</div>
<div class="form">
	<div>
		<p>
			<%= f.label t(:names) %><br/>
			<%= f.text_field :names %><br/>
		</p>
		<p>
			<%= f.label t(:email) %><br/>
			<%= f.text_field :email %><br/>
		</p>
		<p>
			<%= f.label t(:message) %><br/>
			<%= f.text_field :message %><br/>
		</p>
	</div>
	<%= show_simple_captcha(:object=>"contact") %>
	<div class="submit">
		<%= f.submit t(:submit_form), id: "submit-button" %>
	</div>
</div>
<% end %>