!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
  %body
    %div{width: "100%", style:"background-color: #222221"}
      %a{href: "http://lowcostwat.com"}
        %img{src: "http://www.lowcostwat.com/images/logo.png", style: "padding-left: 10px; padding-top:5px;"}
    %h1 
      = t(:email_title)
    %p 
      = t(:email_body)
    %br
    %p 
      = t(:email_greets)
  %div{width: "100%", style:"background-color: #222221"}
    %h2{style: "color: #fff"}
      = t(:contacts)
    %table{style: "color: #fff"}
      %tr
        %td
          %span
            = t(:sofia)
          %br
          = t(:gurko)
          %br
          = t(:sof_phones)
          %br
          %a{href: "mailto:info@fletcherlynd.com", target: "_top", style: "color: #fff"}
            info@fletcherlynd.com
        %td
          %span
            = t(:blagoevgrad)
          %br
          = t(:alexandrov)
          %br
          = t(:bl_phones)
          %br
          %a{href: "mailto:blagoevgrad@fletcherlynd.com", target: "_top", style: "color: #fff"}
            blagoevgrad@fletcherlynd.com
    .bottomSocial
      %a{href: "mailto:info@fletcherlynd.com", target: "_top"}
      %a
      %a
    %a{href:"http://fletcherlynd.com", target:"_blank"}
