!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    :css 
      table:nth-child(odd) { background-color: #cee388; }
      td { margin-right: 5px; font-size: 16px; }

  %body
    %div{width: "100%", style:"background-color: #222221"}
      %a{href: "http://lowcostwat.com"}
        %img{src: "http://www.lowcostwat.com/images/logo.png", style: "padding-left: 10px; padding-top:5px;"}
    %h1 
      = "#{@a.first_name} #{@a.last_name} попълни формата за кандидатстване в LowCostWAT.com"
    %p 
      %table
        %thead{style: "background-color: gray;"}
          %tr
            %td
              %b
                Поле
            %td
              %b
                Стойност
        %tbody
          %tr
            %td
              Лично име
            %td
              = @a.first_name
          %tr
            %td
              Бащино име
            %td
              = @a.fathers_name
          %tr
            %td
              Фамилно име
            %td
              = @a.last_name
          %tr
            %td
              Рождена дата
            %td
              = @a.birthday
          %tr
            %td
              Месторождение
            %td
              = @a.place_of_birth
          %tr
            %td
              Мобилен телефон
            %td
              = @a.mobile
          %tr
            %td
              Skype
            %td
              = @a.skype
          %tr
            %td
              Университет
            %td
              = @a.university.name
          %tr
            %td
              Година на обучение
            %td
              = @a.year_of_study
          %tr
            %td
              Email
            %td
              = @a.email
          %tr
            %td
              Офис
            %td
              = @a.fletcher_office
          %tr
            %td
              Application form assistance
            %td
              = @a.application_form_assistance
          %tr
            %td
              Job offer precheck
            %td
              = @a.job_offer_precheck 
          %tr
            %td
              DS Assistance
            %td
              = @a.ds_assistance
    %br
  %div{width: "100%", style:"background-color: #222221"}
    %h2{style: "color: #fff"}
      = t(:contacts)
    %table{style: "color: #fff"}
      %tr
        %td
          %span
            = t(:sofia)
          %br
          = t(:gurko)
          %br
          = t(:sof_phones)
          %br
          %a{href: "mailto:info@fletcherlynd.com", target: "_top", style: "color: #fff"}
            info@fletcherlynd.com
        %td
          %span
            = t(:blagoevgrad)
          %br
          = t(:alexandrov)
          %br
          = t(:bl_phones)
          %br
          %a{href: "mailto:blagoevgrad@fletcherlynd.com", target: "_top", style: "color: #fff"}
            blagoevgrad@fletcherlynd.com
    .bottomSocial
      %a{href: "mailto:info@fletcherlynd.com", target: "_top"}
      %a
      %a
    %a{href:"http://fletcherlynd.com", target:"_blank"}
