// ********** Variables **********
$black: #000;
$white: #fff;
$header: #222222;
$green: #a0bf37;
$greenRGBA: rgba(162,192,55,0.8);
$litegreen: #CEE388;
$grey: #878786;
// ********** END Variables **********

// ********** Fonts Helen **********
@font-face {
    font-family: 'Helen-Regular';
    font-weight: normal;
    src: url('../fonts/helenbg/HelenBg-Regular.otf');
}

@font-face {
    font-family: 'Helen-Black';
    font-weight: normal;
    src: url('../fonts/helenbg/HelenBg-Black.otf');
}

@font-face {
    font-family: 'Helen-Bold';
    src: url('../fonts/helenbg/HelenBg-Bold.otf');
}

@font-face {
    font-family: 'Helen-Light';
    font-weight: normal;
    src: url('../fonts/helenbg/HelenBg-Light.otf');
}

@font-face {
    font-family: 'SegoeProDisplay-Light';
    font-weight: 200;
    src: url('../fonts/segoepro/SegoeProDisplay-Light.ttf');
}

@font-face {
    font-family: 'SegoeProDisplay-Bold';
    font-weight: 600;
    src: url('../fonts/segoepro/SegoeProDisplay-Bold.ttf');
}
// ********** End of Fonts Helen **********