// **** IGNORE ****

// sass --watch stylesheet:stylesheet --style compressed

// **** END of IGNORE ****

// ********** Limited reset **********
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr, textarea, input {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    border-image-width: 0;
}
// ********** END Limited reset **********

// add colors and variables
@import "variables";

// clearfix
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE6/7 (trigger hasLayout) */
}
// link styles
a {
  text-decoration: none;
    color: $white;
    &:hover {
        color: $green;
    }
}
section a:hover {
  border: 1px solid $green;
}
// Home layout

body {
  background-color: $white;
  color: $white;
  font-family: 'Helen-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
}

// ********** Header **********
header {
    height: 63px;
    background-color: $header;
    .clearfix {
        height: 63px;
        max-width: 1024px;
        margin: 0 auto;
    }
    img {
        display: inline-block;
        float: left;
        padding: 5px 20px 0 2px;
        border-right: 1px solid $white;
    }
}

nav {
  float: left;
  display: inline-block;
    line-height: 63px;
    vertical-align: middle;
    margin: 0 0 0 43px;
    ul {
        max-height: 63px;
    }
    a {
        margin-left: 23px;
        font-size: 12px;
    }
}
#menuButton {
    display: none;
}
.rightMenu {
  float: right;
    height: 20px;
    line-height: 63px;
    div {
        vertical-align: middle;
        display: inline-block;
        color: $grey;
        font-size: 10px;
        font-family: 'Helen-Bold', sans-serif;
        font-weight: bold;
        padding: 0 20px;
        span {
          border-right: 1px solid $grey;
            margin: 0 1px;
        }
        a {
            font-weight: normal;
        }
    }
  &>a {
        vertical-align: middle;
        display: inline-block;
        &:nth-child(1) {
        width: 15px;
        height: 11px;
        background: url('../images/icons-social.png') 0 0;
            &:hover {
                background: url('../images/icons-social.png') 0 -11px;
            }
        }
        &:nth-child(2) {
        margin: 0 5px;
        width: 12px;
        height: 11px;
        background: url('../images/icons-social.png') -23px 0;
        &:hover {
                background: url('../images/icons-social.png') -23px -11px;
            }
        }
        &:nth-child(3) {
        width: 12px;
        height: 11px;
        background: url('../images/icons-social.png') -43px 0;
        &:hover {
                background: url('../images/icons-social.png') -43px -11px;
            }
        }
        &:nth-child(5) {
        width: 20px;
            height: 27px;
            background: url('../images/logo-right.png') no-repeat 0 0;
        }
    }
}
.space {
    height: 16px;
}
// ********** END of Header **********

// ********** Flash Message **********

.alert {
  padding: 8px 0px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  max-width: 1024px;
  margin: 0 auto 16px;
}

.alert p {
    padding-left: 10px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: $grey;
  background-color: $litegreen;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

button.close {
    padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  padding-right: 30px;
}


// ********** END of Flash Message **********

// ********** Banner **********
.banner {
  background-color: $green;
    max-width: 1024px;
    min-height: 330px;
    margin: 0 auto 16px auto;
    .bannerText {
        height: 330px;
        max-width: 1024px;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        p {
            line-height: 330px;
        display: inline-block;
            font-family: 'Helen-Bold', sans-serif;
            font-weight: normal;
            font-size: 237px;
            max-width: 470px;
            letter-spacing: -5px;
        }
        div {
        display: inline-block;
            max-width: 459px;
            padding-left: 11px;
            p {
                &:first-child {
                    font-size: 128px;
                    line-height: 100%;
                }
                &:last-child {
                    line-height: 60%;
                    font-size: 76px;
                }
            }
        }
    }
}

// ********** END of Banner **********

// ********** Section **********
section {
  margin: 0 auto;
    max-width: 1024px;
  div {
        width: 32%;
        height: 329px;
        display: inline-block;
        background-repeat: no-repeat;
        &:nth-child(1) {
          background: url('../images/button1.jpg');
            margin-right: 1.526%;
        }
        &:nth-child(2) {
          background: url('../images/button2.jpg');
            margin-right: 1.526%;
        }
        &:nth-child(3) {
            background: url('../images/button3.jpg');
        }
        a {
          margin: 150px auto 0 auto;
            padding-top: 15px;
            text-align: center;
          display: block;
          border: 1px solid $white;
            height: 35px;
            width: 205px;
            font-family: 'Helen-Bold', sans-serif;
            &:hover {
                background-color: $greenRGBA;
                color: $white;
            }
        }
    }
}

// ********** END of Section **********

// ********** Container **********
.content {
    margin: 0 auto;
    max-width: 1024px;
    max-width: 60.4375em;
    padding: 41px 0 38px 57px;

    h1 {
        font-family: 'Helen-Bold', sans-serif;
        font-size: 3.125em;
        color: $green;
    }
    .text {
        font-family: sans-serif;
        color: $black;
        strong {
            font-weight: bold;
        }
    }
    p {
        color: $black;
        font-family: sans-serif;
    }

    description {
        color: grey;
    }
    a {
        text-decoration: underline;
        color: $black;
    }
    a:hover {
        text-decoration: none;
        color: $green;
    }

    input, label, ul, li {
        .error-message {
            color: red;
        }
    }
}

.form {
  max-width: 1024px;
  margin: 0 auto;
  color: $black;
  h1 {
    color: $green;
    font-size: 55px;
    font-weight: bold;
    text-align: left;
  }
  label {
    font-size: 18px;
    text-align: justify;
  }
  .date {
    select {
      width: auto;
      min-width: 75px;
      margin: 10px auto;
      &:nth-child(1) {
          width: 10%
      }
      &:nth-child(2) {
          width: 65%
      }
      &:nth-child(3) {
          width: 35%
      }
    }
  }
  .title {
    display: block;
    text-align: center;
  }
  input {
    width: 328px;
    height: 44px;
    border: 1px solid $grey;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
  }
  select {
    width: 328px;
    height: 44px;
    border: 1px solid $grey;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    background-image: url("arws.png");
    background-repeat: no-repeat;
    background-position: 98.7% 63%;
    padding-right: 5px;
  }
  div {
    text-align: center;
    width: 1024px;
    height: auto;
    border-bottom: 1px solid $grey;
    padding: 30px 0;
    p {
      display: inline-block;
      text-align: center;
      width: 330px;
      margin-right: 12px;
      &:nth-child(3) {
          margin-right: 0;
        }
    }
  }

  .lastDiv {
    p{
      line-height: 110%;
      font-size: 16px;
      span {
        font-weight: bold;
        display: block;
      }
    }
  }
  #submit-button {
    border-bottom: none;
    width: 328px;
    height: 44px;
    background-color: $header;
    border: none;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    color: $white;
    font-size: 17px;
    cursor: pointer;
    }

    .simple_captcha_image img {
        vertical-align: middle;
    }

    .simple_captcha_image a{
        color: black;
    }
}

.clearfix {
        clear: both;
    }
// ********** END of Container **********

// ********** Footer **********
footer {
  margin: 16px auto 0 auto;
  background-color: $header;
    max-width: 967px;
    padding: 41px 0 38px 57px;
    //background: url('../images/test2.jpg') no-repeat;
    //color: $black;
    h2 {
        font-family: 'Helen-Bold', sans-serif;
        font-size: 32px;
        letter-spacing: -0.9px;
        margin-bottom: 100px;
    }
    table {
        display: inline-block;
        vertical-align: bottom;
        font-family: 'SegoeProDisplay-Light', sans-serif;
        font-weight: 200px;
        color: $grey;
        td {
            height: 70px;
            display: inline-block;
            letter-spacing: -0.6px;
            line-height: 108%;
            margin-right: 100px;
            &:last-child {
                margin-right: 90px;
            }
            span:first-child {
                font-family: 'SegoeProDisplay-Bold', sans-serif;
                font-weight: 600;
                color: $white;
            }
        }
        a {
            color: $grey;
            font-family: 'SegoeProDisplay-Light', sans-serif;
            font-weight: 200;
            display: inline-block;
            letter-spacing: -0.6px;
            line-height: 108%;
        }
    }
    a:nth-child(4) {
        width: 179px;
        height: 42px;
        display: inline-block;
        margin-left: 47px;
        vertical-align: baseline;
        background: url('../images/logo-bottom.png') no-repeat 0 0;
    }
}
.bottomSocial {
    display: inline-block;
    vertical-align: bottom;
    &>a {
        display: inline-block;
        &:nth-child(1) {
            width: 33px;
            height: 25px;
            background: url('../images/icons-social-bottom.png') 0 0;
        }
        &:nth-child(2) {
            margin: 0 10px;
            width: 26px;
            height: 25px;
            background: url('../images/icons-social-bottom.png') -52px 0;
        }
        &:nth-child(3) {
            width: 27px;
            height: 25px;
            background: url('../images/icons-social-bottom.png') -98px 0;
        }
    }
}

// ********** END of Footer **********


// ********** Responsive **********
@media all and (max-width: 1044px) {
    // Section
    section {
        text-align: center;
        div {
            width: 30vw;
            height: 30vw;
            line-height: 30vw;
            a {
                margin: 0;
                padding: 10px;
                display: inline;
                vertical-align: middle;

            }
        }
    }

    // Footer
    footer {
        h2 {
            margin-bottom: 100px;
        }
        table {
            td {
                margin-right: 50px;
                &:last-child {
                    margin-right: 50px;
                }
            }
        }
        a:nth-child(4) {
            margin-left: 30px;
        }
    }

    .form {
        div {
            width: 100%;
            line-height: inherit;
        }
    }

}

@media all and (max-width: 1024px) {
    // Section
    .form {
        margin: 0 5px;
    }
}

@media all and (max-width: 960px) {
    // Banner
    .banner {
        min-height: 300px;
        .bannerText {
            text-align: center;
            p {
                font-size: 190px;
            }
            div {
                padding: 0;
                max-width: 400px;
                p {
                    &:first-child {
                        font-size: 100px;
                    }
                    &:last-child {
                        font-size: 60px;
                    }
                }
            }
        }
    }

    // Footer
    footer {
        h2 {
            margin-bottom: 90px;
        }
        table {
            td {
                margin-right: 40px;
                &:last-child {
                    margin-right: 40px;
                }
            }
        }
        a:nth-child(4) {
            margin-left: 25px;
        }
    }
}

@media all and (max-width: 905px) {
    // Header
    header {
        height: auto;
        .clearfix {
            height: auto;
            ul {
                height: inherit;
                max-height: none;
            }
        }
    }
  nav {
        margin: 0;
        width: 100%;
        height: auto;
        padding-top: 0;
        a {
            line-height: 50px;
            height: 50px;
            margin: 0;
            display: block;
            font-size: 16px;
            text-align: center;
            background-color: $header;
            border-bottom: solid 1px $white;
            &:first-child {
                border-top: solid 1px $white;
            }
        }
        ul {
            height: auto;
            width: 100%;
            max-width: none;
        }
  }
  #menuButton {
        display: inline-block;
        float: right;
        margin: 16px 10px 0 40px;
        width: 30px;
        height: 30px;
        background: url('../images/menu.png') 0 0;
    &:hover {
            background: url('../images/menu.png') 0 -30px;
        }
    }
}

@media all and (max-width: 870px) {
    // Footer
    footer {
        h2 {
        margin-bottom: 90px;
        }
        table {
        display: block;
            margin-bottom: 30px;
        td {
                margin-right: 40px;
                &:last-child {
                    margin-right: 40px;
                }
            }
        }
        a:nth-child(4) {
        margin-left: 50px;
        }
    }

    // Header
    .rightMenu {
        div {
            a {
                font-size: 14px;
            }
            span {
                margin: 0 5px;
                background-color: $white;
                width: 2px;
            }
        }
  }
}

@media all and (max-width: 780px) {
    // Section
    section {
        text-align: center;
        max-width: 600px;
        div {
            width: 329px;
            height: 329px;
            margin-right: 0;
            margin-bottom: 16px;
            line-height: normal;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                margin: 150px auto 0 auto;
                padding-top: 15px;
                display: block;
                height: 35px;
                width: 205px;
            }
        }
    }

    // Banner
    .banner {
        min-height: 300px;
    .bannerText {
        text-align: center;
            max-width: 640px;
        p {
        font-size: 125px;
                letter-spacing: normal;
            }
            div {
                padding: 0;
                max-width: 350px;
                p {
                    &:first-child {
                        font-size: 80px;
                    }
                    &:last-child {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 600px) {
// Banner
    .banner {
    .bannerText {
            p {
                line-height: normal;
            }
        }
    }
}

@media all and (max-width: 550px) {
    // Header
    nav {
        a {
            font-size: 18px;
        }
    }
    .rightMenu{
        a {
            display: none;
        }
        div {
        display: inline-block;
            padding-right: 0;
            a {
                display: inline;
            }
        }
    }
    #menuButton {
        margin-left: 20px;
    }


    // Footer
    footer {
        padding-left: 40px;
        h2 {
        margin-bottom: 80px;
        }
        table {
            display: block;
            margin-bottom: 0px;
            td {
                height: auto;
                display: block;
                width: 100%;
                margin-right: 40px;
                margin-bottom: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        a:nth-child(4) {
        display: block;
        margin-left: -2px;
            margin-top: 30px;
        }
    }
}



@media all and (max-width: 400px) {
    // Header
    header{
        img {
            padding-right: 2px;
        }
    }
    .rightMenu{
        div {
            padding-left: 2px;
        }
    }
    #menuButton {
        margin-left: 10px;
    }

    .form {
    div {
      width: 100%;
      line-height: inherit;
      padding: 10px 0;
      p {
        width: 90%;
        margin: 0;
        input, select {
          width: 100%;
        }
      }
    }
    .submit {
      button {
        width: 90%
      }
    }
    .date {
      select {
        &:nth-child(2) {
          width: 45%;
          margin-right: 7%;
        }
        &:nth-child(3) {
          width: 45%
        }
        &:nth-child(4) {
          width: 100%
        }
      }
    }
  }
}