%footer
  %h2
    = t(:contacts)
  %table
    %tr
      %td
        %span
          = t(:sofia)
        %br
        %span
          = t(:gurko)
        %br
        %span
          = t(:sof_phones)
        %br
        %a{href: "mailto:info@fletcherlynd.com", target: "_top"}
          info@fletcherlynd.com
      %td
        %span
          = t(:blagoevgrad)
        %br
        %span
          = t(:alexandrov)
        %br
        %span
          = t(:bl_phones)
        %br
        %a{href: "mailto:blagoevgrad@fletcherlynd.com", target: "_top"}
          blagoevgrad@fletcherlynd.com
  .bottomSocial
    %a{href: "mailto:info@fletcherlynd.com", target: "_top"}
    %a
    %a
  %a{href:"http://fletcherlynd.com", target:"_blank"}

%script
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57005313-1', 'auto');
  ga('send', 'pageview');