%head
    %meta{:charset => "utf-8"}
    %title Low Cost Work and Travel - Fletcher Lynd – J1 Visa – Студентски Бригади САЩ
    %meta{:content => "user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi", :name => "viewport"}
    %meta{:content => "", :name => "Fletcher Lynd Site"}
    %meta{:content => "", :name => "BetaSve.com"}

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
    = favicon_link_tag 'favicon.ico'
    = javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js", "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags