!!!
%html
  = render 'layouts/head'
  %body
    %header
      .clearfix
        = link_to(image_tag("logo.png"), root_path)
        %a#menuButton
          &nbsp;
        .rightMenu
          %a{href:"mailto:info@fletcherlynd.com"}
          %a
            &nbsp;
          %a
            &nbsp;
          %div
            = link_to "EN", root_locale_path
            |
            = link_to "BG", root_locale_path('bg')
          %a{href: "http://fletcherlynd.com/", target: "_blank"}
        %nav#menu
          %ul
            - if params[:locale] == 'bg'
              = link_to t(:home), root_locale_path('bg')
            -else
              = link_to t(:home), root_path
            - @pages.each_with_index do |page, k|
              = link_to page.title, static_page_path(friendly_id: page.slug)
              = link_to t(:apply_online), new_form_path if k == 0
            = link_to t(:contacts), new_contact_path
    .space
    - flash.each do |name, msg|
      = content_tag :div, :class => "alert alert-#{name == :error ? "danger" : "success" } alert-dismissable" do
        %button.close{:type => "button", :data => {:dismiss => "alert"}, :aria => {:hidden => "true"} } &times;
        %p
          = msg
    = yield
    = render 'layouts/footer'
